.final {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  width: 13%;
  height: 55%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;


  &__game {
    width: 16rem;
    height: 6rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px brown;

    &1 {
      grid-area: game1;

      .teamone {
        .game__flag {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 0;
        }
      }
      .teamtwo {
        .game__flag {
          border-top-left-radius: 0;
          border-bottom-left-radius: 2rem;
        }
      }
      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0.3rem 0.3rem 0;
      }
    }

    &1 {
        grid-area: game1;
  
        .teamone {
          .game__flag {
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 0;
          }
        }
        .teamtwo {
          .game__flag {
            border-top-left-radius: 0;
            border-bottom-left-radius: 2rem;
          }
        }
        .score {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 2rem;
          font-size: 2.4rem;
          font-weight: 700;
          color: white;
          padding: 0.3rem 0.3rem 0.3rem 0;
        }
      }
  }
}
