.eight {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "game1 game2"
    "game3 game4"
    "game5 game6"
    "game7 game8";

  &__game {
    width: 16rem;
    height: 6rem;
    box-shadow: 0 0 5px brown;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "team1 score"
      "team2 score";

    &1 {
      grid-area: game1;

      .teamone {
        .game__flag {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 0;
        }
      }
      .teamtwo {
        .game__flag {
          border-top-left-radius: 0;
          border-bottom-left-radius: 2rem;
        }
      }
      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0.3rem 0.3rem 0;
      }
    }
    &2 {
      grid-area: game2;
      justify-self: end;

      grid-template-areas:
      "score team1"
      "score team2";

      .teamone {
        grid-column: 2;
        flex-direction: row-reverse;

        .game__flag {
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 0;
        }
      }
      .teamtwo {
        grid-column: 2;
        flex-direction: row-reverse;
        .game__flag {
          border-top-right-radius: 0;
          border-bottom-right-radius: 2rem;
        }
      }
      .score {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0 0.3rem 0.6rem;
      }
      .game__flag {
        margin-left: 0.5rem;
        margin-right: 0!important;
      }
    }
    &3 {
      grid-area: game3;

      .teamone {
        .game__flag {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 0;
        }
      }
      .teamtwo {
        .game__flag {
          border-top-left-radius: 0;
          border-bottom-left-radius: 2rem;
        }
      }
      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0.3rem 0.3rem 0;
      }
    }
    &4 {
      grid-area: game4;
      justify-self: end;

      grid-template-areas:
      "score team1"
      "score team2";

      .teamone {
        grid-column: 2;
        flex-direction: row-reverse;

        .game__flag {
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 0;
        }
      }
      .teamtwo {
        grid-column: 2;
        flex-direction: row-reverse;
        .game__flag {
          border-top-right-radius: 0;
          border-bottom-right-radius: 2rem;
        }
      }
      .score {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0 0.3rem 0.6rem;
      }
      .game__flag {
        margin-left: 0.5rem;
        margin-right: 0!important;
      }
    }
    &5 {
      grid-area: game5;

      .teamone {
        .game__flag {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 0;
        }
      }
      .teamtwo {
        .game__flag {
          border-top-left-radius: 0;
          border-bottom-left-radius: 2rem;
        }
      }
      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0.3rem 0.3rem 0;
      }
    }
    &6 {
      grid-area: game6;
      justify-self: end;

      grid-template-areas:
      "score team1"
      "score team2";

      .teamone {
        grid-column: 2;
        flex-direction: row-reverse;

        .game__flag {
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 0;
        }
      }
      .teamtwo {
        grid-column: 2;
        flex-direction: row-reverse;
        .game__flag {
          border-top-right-radius: 0;
          border-bottom-right-radius: 2rem;
        }
      }
      .score {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0 0.3rem 0.6rem;
      }
      .game__flag {
        margin-left: 0.5rem;
        margin-right: 0!important;
      }
    }
    &7 {
      grid-area: game7;

      .teamone {
        .game__flag {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 0;
        }
      }
      .teamtwo {
        .game__flag {
          border-top-left-radius: 0;
          border-bottom-left-radius: 2rem;
        }
      }
      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0.3rem 0.3rem 0;
      }
    }
    &8 {
      grid-area: game8;
      justify-self: end;

      grid-template-areas:
      "score team1"
      "score team2";

      .teamone {
        grid-column: 2;
        flex-direction: row-reverse;

        .game__flag {
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 0;
        }
      }
      .teamtwo {
        grid-column: 2;
        flex-direction: row-reverse;
        .game__flag {
          border-top-right-radius: 0;
          border-bottom-right-radius: 2rem;
        }
      }
      .score {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: white;
        padding: 0.3rem 0 0.3rem 0.6rem;
      }
      .game__flag {
        margin-left: 0.5rem;
        margin-right: 0!important;
      }
    }
  }
}
